.card
{
    display: grid;
    grid: var(--rows-card)/var(--columns-card);
    max-inline-size: 1000px;
    inline-size: 90%;
    &__background
    {
        grid-area: 1/1/-1/4;
        inline-size: 100%;
        max-block-size: 420px;
        object-fit: cover;
        @include tablets
        {
            grid-column: 1/-2;
        }
        @include smartphone
        {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
    &__content
    {
        z-index: 1;
        grid-area: 2/3/-2/-1;
        padding: 30px;
        color: white;
        // background-color: var(--color-primary);
        @include tablets
        {
            grid-column-start: 2 ;
        }
        @include smartphone
        {
            grid-column: span 1;
            grid-row: span 1;
        }
    }
    &__title
    {
        margin-block-end: 20px;
        font-size: 3.2rem;
    }
    &__description
    {
        margin-block-end: 20px;
        line-height: 1.5;
    }
    &__cta
    {
        display: inline-block;
        padding: 18px 45px;
        // background-color: white;
        color: var(--color-primary);
        text-decoration: none;
    }
}